// main: ../../import.scss
// --------------------------------------------------
// KV
// --------------------------------------------------
.is-kv{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  &-lower{
    margin: vwpc(50) auto vwpc(100);
    @media #{$sp}{
      margin: vwsp(30) auto vwsp(40);
    }
    &-home{
      margin: vwpc(24) auto vwpc(80);
      @media #{$sp}{
        margin: vwsp(20) auto vwsp(30);
      }
      .swiper-slide{
        img{
          width: 100%;
        }
        @media #{$tb}{
          .pc{
            display: block !important;
          }
          .sp{
            display: none !important;
          }
        }
      }
    }
  }
}
