// main: ../../../import.scss
// --------------------------------------------------
// MODAL
// --------------------------------------------------
.modal{
  width: 100%;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 55000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  &.show{
    opacity: 1;
    visibility: visible;
  }
  &_btn{
  	width: 320px;
  	position: absolute;
  	bottom: 60px;
  	right: 60px;
    z-index: 100;
    @media #{$tbside}{
      bottom: 13vh;
    }
    @media #{$tbvertical}{
      bottom: 15vh;
    }
  	@media #{$sp}{
      width: 50%;
      bottom: 35vw;
      right: auto;
      left: 50%;
      @include translate
    }
  	.img{
  		position: relative;
      &::before{
        width: 100%;
        height: 100%;
        content: '';
        background: rgba(0,0,0,.6);
        position: absolute;
        top: 0;
        left: 0;
      }
  	}
  }
  &_bg{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    position: absolute;
  }
  &_content{
    width: vwpc(800);
    max-height: 80vh;
    background: #fff;
    padding: 50px 80px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include bdrs(26px);
    @include shadow;
    z-index: 100;
    overflow-x: scroll;
    position: relative;
    @include translate;
    @media #{$sp}{
      width: 90%;
      padding: 7%;
      @include bdrs(13px);
    }
    // @media #{$pc}{
    // }
    // @media #{$sp}{
    //   width: 90%;
    //   height: 90vh;
    //   top: 5vh;
    //   left: 5%;
    //   padding: 7%;
    // }
    .is-guidance-inner{
      width: auto;
    }
    .cart-form{
      .form-group-checkbox{
        .checkbox-label{
          display: block;
          margin-bottom: 12px;
          cursor: pointer;
          &:last-child{
            margin-bottom: 0;
          }
          input[type="checkbox"]{
            margin-right: 8px;
            vertical-align: middle;
          }
          span{
            vertical-align: middle;
            @include ftz(14px, 16px, 480px, 1280px, 16px);
            line-height: 1.5;
          }
        }
      }
      .btn-cart{
        width: 100%;
        height: 50px;
        @include bdrs(25px);
        background: $color_1;
        @include ftz(14px, 15px, 480px, 1280px, 15px);
        font-weight: 700;
        margin-top: 4px;
        appearance: none;
        border: 0;
        color: #fff;
        display: block;
        text-align: center;
        line-height: 50px;
        @include transition(.5s);
        &:hover{
          cursor: pointer;
          @include opacity(.7);
        }
        &.is-disabled{
          background: #CCCCCC;
          cursor: not-allowed;
          opacity: 0.6;
          &:hover{
            opacity: 0.6;
          }
        }
      }
    }
    .ttl{
      text-align: center;
      margin-bottom: 22px;
      @media #{$sp}{
        margin-bottom: 14px;
      }
      .icon,span{
        display: inline-block;
        vertical-align: middle;
      }
      .icon{
        @media #{$sp}{
          width: 22px;
        }
      }
      span{
        @include ftz(18px, 28px, 480px, 1280px, 28px);
        font-weight: 600;
        margin-left: 20px;
        @media #{$sp}{
          margin-left: 15px;
        }
      }
    }
    .txt{
      p,li,small,span,a,strong{
        @include ftz(13px, 18px, 480px, 1280px, 18px);
        line-height: 1.778;
        @media #{$sp}{
          line-height: 1.415;
        }
      }
      strong{
        font-weight: 700;
      }
      small{
        @media #{$sp}{
          line-height: 1.415;
        }
      }
      a{
        i{
          display: inline-block;
          vertical-align: middle;
          margin-left: 4px;
        }
      }
      ul{
        li{
          padding-left: 1em;
          text-indent: -1em;
          @media #{$sp}{
            margin-bottom: 6px;
          }
          small{
            @include ftz(10px, 16px, 480px, 1280px, 16px);
            display: block;
            padding-left: 1em;
          }
        }
      }
    }
    &-sme_insurance{
      overflow: hidden;
    }
    &-corporate-property{
      .ttl{
        span{
          color: $color_7;
        }
      }
    }
    &-management{
      .ttl{
        span{
          color: $color_6;
        }
      }
    }
    &-employee{
      .ttl{
        span{
          color: $color_5;
        }
      }
    }
    &-business-interruption{
      .ttl{
        span{
          color: $color_4;
        }
      }
    }
    &-liability{
      .ttl{
        span{
          color: $color_3;
        }
      }
    }
    &-company-car{
      .ttl{
        span{
          color: $color_2;
        }
      }
      .txt{
        .mt{
          margin-top: 20px;
        }
      }
    }
  }
  .js-modal-close-btn{
    position: absolute;
    top: 17px;
    right: 17px;
    z-index: 1000;
    @media #{$sp}{
      width: 24px;
      img{
        width: 100%;
      }
    }
  }
}
